body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background-image: url("img/cool-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

h1.title {
	font-size: 38px;
	text-shadow: initial;
  background: -webkit-linear-gradient(45deg, #9CECFB, #65C7F7, #0052D4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider {
  width: 560px;
  height: 315px;
  overflow: hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  border-image-slice: 1;
}
.slides {
  width: calc(560px * 3);
  animation: glisse 15s infinite;
}

.slide {
  float: left;
}

@keyframes glisse {
		0% {
			transform: translateX(0);
		}
		10% {
			transform: translateX(0);
		}
		33% {
			transform: translateX(-560px);
		}
		43% {
			transform: translateX(-560px);
		}
		66% {
			transform: translateX(-1120px);
		}
		76% {
			transform: translateX(-1120px);
		}
		100% {
			transform: translateX(0);
		}
	}

.animate-bottom {
	width: calc(560px * 3);
	height: 315px;
	margin: 70px auto;
}



/*NAVBAR*/

nav > ul {
  margin: 0px;
  padding: 0px;
}
nav > ul > li{
  float: left;
  position: relative;
}
nav li{
  list-style-type: none;
}
.submenu {
  display: none;
}
nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}
nav{
  width: 100%;
  background-image:linear-gradient(45deg, #9CECFB, #65C7F7, #0052D4)
}
nav > ul::after{
  content: "";
  display: block;
  clear: both;
}
nav a{
  display: inline-block;
  text-decoration: none;
}
nav > ul > li >a{
  padding: 20px 30px;
  color: #fff;
}
.submenu li {
  border-bottom: 1px solid #CCC;
}
.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color:#222538;
  width: 270px;
}
.menu-index:hover{
  border-top: 5px solid #e44d26;
  border-image-source: linear-gradient(45deg, #649173, #DBD5A4);
  border-image-slice: 1;
  background-color: rgba(228, 77, 38, 0.15);
}
.menu-project:hover{
  border-top: 5px solid #0070bb;
  border-image-source: linear-gradient(45deg, #B993D6, #8CA6DB);
  border-image-slice: 1;
  background-color: rgba(000, 112, 192, 0.15);
}
.menu-me:hover{
  border-top: 5px solid #BBB;
  border-image-source: linear-gradient(45deg, #f2709c, #ff9472);
  border-image-slice: 1;
  background-color: rgba(220, 220, 220, 0.15);
}
nav > ul > li:hover a{
  padding: 15px 30px 20px 30px;
}
.menu-index .submenu{
  background-color: rgb(230, 100, 40);
}
.menu-project .submenu{
  background-color: rgb(000, 160, 240);
}
.menu-me .submenu{
  background-color: rgb(251, 216, 99);
}
.submenu li:hover a{
  color:#EEE;
  font-weight:bold;
}
.menu-index .submenu li:hover{
  background-color: rgb(210, 77, 60);
}
.menu-project .submenu li:hover{
  background-color: rgb(000, 115, 200);
}
.menu-me .submenu li:hover{
  background-color: rgb(200, 165, 75);
}
.menu-text{
  text-shadow: initial;
}
/*END NAVBAR*/



p.msg {
  background: -webkit-linear-gradient(45deg, #9CECFB, #65C7F7, #0052D4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  text-decoration: false;
}

.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:290px;
    padding:5px;
    height:290px;
}
.roundedImage2{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    padding:5px;
    border-radius:50px;
    width:640px;
    height:360px;
}



/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

p, h1, a{
	font-family: 'Press Start 2P';
}

.fin {
  position:fixed;
  bottom:1%;
  right:1%;
  z-index:9999;
}

/*SOCIAL*/

.socialnetworklogo {
	width:52px;
	height:52px;
	border:none;
}

.socialnetworklogo:hover{
	transition-duration: 1s;
	transform: rotate(720deg);
}

a {
  text-decoration: none;
}
